.quick-view-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #1E1E1E80;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
}

.quick-view-modal__wrapper {
    display: flex;
    width: 900px;
    height: 530px;
    max-height: 530px;
    position: relative;
    background: var(--color-white);
    border-radius: 10px;
    overflow: hidden;
}

.product-layout__wrapper {
    display: flex;
    gap: 40px;
}

.quick-view-modal__cross {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.quick-view-modal__hero-product {
    max-width: 52.9%;
    width: 100%;
    padding: 60px 30px 50px 50px;
}

.hero-product__main-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-gray);
}

.main-info__price {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: var(--color-black);
}

.main-info__name {
    font-family: Rubik;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: right;
    color: var(--color-black);
}

.main-info__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.main-info__compare-at-price {
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    opacity: .5;
    color: var(--color-black);
    text-decoration: line-through;
}

.main-info__rating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.product-info__description {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: right;
    margin-top: 30px;
}

.menu-to-buy__like-button {
    transition: all .3s ease;
    width: 45px;
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--color-gray);
    border-radius: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}

.menu-to-buy__like-button:active {
    background: var(--color-white) !important;
}

.menu-to-buy__like-button:active svg {
    fill: var(--color-black) !important;
    stroke: var(--color-black) !important;
}

.menu-to-buy__like-button:active path {
    stroke: var(--color-black) !important;
    fill: var(--color-black) !important;
}


.menu-to-buy__like-button path {
    transition: all .3s ease;
}

.menu-to-buy__like-button:hover {
    background: var(--color-black);
}

.menu-to-buy__like-button:hover path {
    stroke: var(--color-white);
}

.menu-to-buy__variants {
    margin-bottom: 40px;
    padding-left: 65px;
}

.variants__color-swatches {
    padding-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.variants__color-swatches input[type="checkbox"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: all .3s ease;
}

.variants__color-swatches input[type="checkbox"]:checked {
    background: #FFFFFF;
}

.variants__color-swatches input[type="checkbox"]::after {
    content: '';
    width: 22px;
    height: 22px;
    border-radius: 100%;
    position: absolute;
    z-index: 10;
    transition: all .3s ease;
}

.color-swatches__color-1 {
    background: var(--color-black);
    border: 1px solid var(--color-black);
}

.color-swatches__color-1::after {
    background: var(--color-black);
}

.color-swatches__color-2 {
    background: #72543A;
    border: 1px solid #72543A;
}

.color-swatches__color-2::after {
    background: #72543A;
}

.color-swatches__color-3 {
    background: #81765C;
    border: 1px solid #81765C;
}

.color-swatches__color-3::after {
    background: #81765C;
}

.color-swatches__color-4 {
    background: #B7B7B7;
    border: 1px solid #B7B7B7;
}

.color-swatches__color-4::after {
    background: #B7B7B7;
}

.color-swatches__color-5 {
    background: #F1E5CE;
    border: 1px solid #F1E5CE;
}

.color-swatches__color-5::after {
    background: #F1E5CE;
}

.color-swatches__color-6 {
    background: var(--color-white);
    border: 1px solid var(--color-black);
}

.color-swatches__color-6:checked::after {
    border: 1px solid var(--color-black);
}

.color-swatches__color-6::after {
    background: var(--color-white);
}

.product-info__menu-to-buy {
    padding-top: 20px;
    position: relative;
}

.menu-to-buy__like-button {
    top: 45px;
    left: 0;
    position: absolute;
}

.variants__title {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.33px;
    text-align: right;
    color: var(--color-black);
}

.menu-to-buy__buy-submit {
    display: flex;
    gap: 20px;
    align-items: center;
}

.buy-submit__count-picker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 135px;
    gap: 5px;
    background: var(--color-gray);
    border-radius: 50px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.96px;
    text-align: right;
    height: 50px;
}

.count-picker__minus {
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding-left: 30px;
}

.count-picker__plus {
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding-right: 30px;
}

.buy-submit__count-picker input[type="number"] {
    border: none;
    outline: none;
    background: transparent;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.96px;
    text-align: center;
    color: var(--color-black);
    max-width: calc(100% - 45px * 2);
    height: 100%;
}

.buy-submit__count-picker input[type=number]::-webkit-outer-spin-button,
.buy-submit__count-picker input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.buy-submit__count-picker input[type=number] {
    -moz-appearance: textfield;
}

.menu-to-buy__buy-submit button {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quick-view-modal__slider-wrapper {
    width: 47.1%;
    display: flex;
    justify-content: center;
    position: relative;
}

.product-slider__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quick-view-modal__slider-wrapper .swiper-pagination {
    position: absolute !important;
    bottom: 20px;
    padding-top: 0;
}

.quick-view-modal__slider-wrapper .swiper-pagination-bullet {
    background: var(--color-white);
}